* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    width: 400px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 380px;
    height: 130px;
    border: 10px solid aqua;
    border-radius: 50%;
}

.div1 {
    position: absolute;
}
.div2 {
    position: absolute;
    rotate: 120deg;
}
.div3 {
    position: absolute;
    rotate: 60deg;
}
.div4 {
    width: 80px;
    height: 80px;
    position: absolute;
    border: none;
    background-color: aqua;
}
